#admin-container {
    background-color: #f8f9fa;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "account-info page-container"
        "admin-navigation-bar page-container"
        "admin-navigation-bar-actions page-container";
    grid-template-columns: 17%;
}

#page-container > .page-title {
    margin: 0;
}
